html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--text-color);
  /* font-family: "Playfair Display", serif; */
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

h1 {
  color: rgb(255, 37, 161);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  font-family: "Playfair Display", serif;
}

h4 {
  font-family: "Monterrat", sans-serif;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --text-color: black;
}

.header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.navbar li {
  margin-left: 10px;
}

.home-description {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-description button {
  /* border-radius: 5px; */
  /* height: 40px; */
  margin-top: 25px;
  background-color: #8ff5c4;
  /* color: white; */
  border-radius: 20px;
  /* border: solid #000000 1px; */
  border: none;
  padding: 12px 20px 12px 20px;
}

.sweet-menu {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  color: #fa5faa;
  font-size: 18px;
}

/* home page menu section  */

.home-menu-section {
  margin-bottom: 50px;
}

/*Home page menu container*/

.collection-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.collection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: rgb(255, 111, 152);
  overflow: hidden;
}

.collection img {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  opacity: 95%;
}

.home-menu .collection a {
  grid-column: 1;
  grid-row: 1;
  display: flex;

  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 20;
}

.home-menu .collection a:hover .collection-overlay {
  transform: translateY(0);
}

.home-menu .collection:hover > img {
  transform: scale(1.05);
  opacity: 85%;
}

.home-menu .collection:hover span .browse {
  opacity: 1;
}

.collection-overlay {
  width: 100%;
  transform: translateY(25%);
}

.label-preload {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.browse {
  border: black solid;
  opacity: 0;
  background-color: white;
  padding: 4px;
}

/* cookies.html */

.cookies-main {
  margin-top: 60px;
}

.cookies-page-title {
  text-align: center;
  color: rgb(97, 95, 95);
  margin-bottom: 60px;
}

.cookies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
}
.cookies-container img {
  max-width: 100%;
}

.cookies-container h4 {
  margin-top: 15px;
  font-family: "playfair-display", serif;
}

.dropdown-toggle::after {
  display: none;
}

/* .home-menu-container .overlay:hover {
  background-color: blue;
  transition: 4s;
} */

.img-effect {
  background-color: blue;
  transition: 4s;
}

.collection-title {
  /* text-align: center; */
  /* margin-top: 50px; */
  margin-bottom: 20px;
}

.collection-img {
  width: 100%;
}

.collection-menu {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}
